[submodule "tools/clients/wrk2/source"]
	path = tools/clients/wrk2/source
	url = https://github.com/giltene/wrk2
[submodule "tools/clients/h1load/source"]
	path = tools/clients/h1load/source
	url = https://github.com/wtarreau/h1load
[submodule "tools/servers/source"]
	path = tools/servers/httpterm/source
	url = https://github.com/wtarreau/httpterm
[submodule "tools/measures/if_rate/source"]
	path = tools/measures/if_rate/source
	url = https://github.com/wtarreau/if_rate
